In [86]:
import pandas as pd
import numpy as np

# 8.1 Loading the data file and assigning columns

In [87]:
df = pd.read_csv('processed.cleveland.data', header = None , names = ['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS', 'RestingECG',
'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope', 'NumVesselsFluoro',
'Thalassemia', 'HeartDisease'])

In [88]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,NumVesselsFluoro,Thalassemia,HeartDisease
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0,1
299,68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0,2
300,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,3
301,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,1
302,38.0,1.0,3.0,138.0,175.0,0.0,0.0,173.0,0.0,0.0,1.0,?,3.0,0

# 8.2.1 Replacing '?' with NaN

In [89]:
df.replace('?' , np.nan)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,NumVesselsFluoro,Thalassemia,HeartDisease
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0,1
299,68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0,2
300,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,3
301,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,1
302,38.0,1.0,3.0,138.0,175.0,0.0,0.0,173.0,0.0,0.0,1.0,NaN,3.0,0

# 8.2.2 Converting relevant columns to numeric.

In [90]:
df['Age'] = pd.to_numeric(df['Age'], errors ='coerce')
df['RestingBP'] = pd.to_numeric(df['RestingBP'] , errors ='coerce')
df['Cholesterol'] = pd.to_numeric(df['Cholesterol'] , errors ='coerce')
df['FastingBS'] = pd.to_numeric(df['FastingBS'] , errors ='coerce')
df['RestingECG'] = pd.to_numeric(df['RestingECG'] , errors ='coerce')
df['MaxHR'] = pd.to_numeric(df['MaxHR'] , errors ='coerce')
df['ExerciseAngina'] = pd.to_numeric(df['ExerciseAngina'] , errors ='coerce')
df['Oldpeak'] = pd.to_numeric(df['Oldpeak'] , errors ='coerce')
df['ST_Slope'] = pd.to_numeric(df['ST_Slope'] , errors ='coerce')
df['NumVesselsFluoro'] = pd.to_numeric(df['NumVesselsFluoro'] , errors ='coerce')
df['Thalassemia'] = pd.to_numeric(df['Thalassemia'] , errors ='coerce')
df['HeartDisease'] = pd.to_numeric(df['HeartDisease'] , errors ='coerce')

# 8.3.1 Displaying the count of missing values in each column.

In [91]:
missing_values_count = df.isnull().sum()

print(missing_values_count)

Age                 0
Sex                 0
ChestPainType       0
RestingBP           0
Cholesterol         0
FastingBS           0
RestingECG          0
MaxHR               0
ExerciseAngina      0
Oldpeak             0
ST_Slope            0
NumVesselsFluoro    4
Thalassemia         2
HeartDisease        0
dtype: int64

# 8.3.2 Replace missing values in NumVesselsFluoro and Thalassemia using the median or mode.

In [92]:
print(df['NumVesselsFluoro'].median())
print(df['NumVesselsFluoro'].mode())
print(df['Thalassemia'].median())
print(df['Thalassemia'].mode())

0.0
0    0.0
Name: NumVesselsFluoro, dtype: float64
3.0
0    3.0
Name: Thalassemia, dtype: float64

In [93]:
df['NumVesselsFluoro'] = df['NumVesselsFluoro'].replace(np.nan , 0.0)

In [94]:
df['Thalassemia'] = df['Thalassemia'].replace(np.nan , 3.0)

In [95]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,NumVesselsFluoro,Thalassemia,HeartDisease
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0,1
299,68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0,2
300,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,3
301,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,1
302,38.0,1.0,3.0,138.0,175.0,0.0,0.0,173.0,0.0,0.0,1.0,0.0,3.0,0

<h4>8.3.3 Since only two columns have empty values, there is no row where more than two columns have missing values.</h4>

# 8.3.4 Grouping the data by HeartDisease and computing the average cholesterol level for each group

In [96]:
df.groupby('HeartDisease')['Cholesterol'].mean()

HeartDisease
0    242.640244
1    249.109091
2    259.277778
3    246.457143
4    253.384615
Name: Cholesterol, dtype: float64